<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover AMCO Interior Design for top-quality furniture and exceptional interior design services in Addis Ababa, Ethiopia. Visit our store for the best furniture prices and designs. Find furniture in Ethiopia, a furniture store in Addis Ababa, and interior design services.">
    <title>AMCO Interior Design | Furniture in Ethiopia, Addis Ababa</title>
    <meta name="keywords" content="AMCO Interior Design, Furniture in Ethiopia, Furniture Store in Addis Ababa, Furniture in Addis Ababa with Price, Furniture in Addis, Furniture House in Addis Ababa, Furniture Shops in Addis Ababa, Furniture Design Ethiopia, Interior Design Addis Ababa">  
</head>
<body>
    <h1>Create Blog Post</h1>
    <form action="/badmin/blog/create" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" required></textarea><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br><br>
        <button type="submit">Create</button>
    </form>
    
    
</body>
</html>
